.App {
  text-align: center;
  padding: 150px;
  line-height: 20px;
}

.App h1 {
  font-size: 22px;
}

.enter label {
  display: block;
  font-size: 13px;
  color: rgb(155, 154, 154);
  margin-right: 160px;
}

.enter button {
  background-color: #00bfff;
  border: #00bfff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
}